@use "general";
$main-font-color: rgb(255, 173, 255);



header{

    >h1 {
        color: $main-font-color;
    }
    >h2{
        color: $main-font-color;
    } 
    
}



  #main-article {
 
  > p {
    font-weight: bold;
   color: $main-font-color;
  }
  &:hover {
    font-size: 3rem;
  }
}
