body{
    background-color: rebeccapurple;
}

h1 {
  color: blue;
}

p {
    background-color: aqua;
  }

#main-article {
  display: grid;
  > p {
    font-weight: bold;
   
  }
  &:hover {
    font-size: 3rem;
  }
}
